ion-tab-button{
    --color:var(--ion-color-personal-contrast);
    --color-selected:var(--ion-color-personal-tint);
}

.tab-selected{
    //--background: lightgrey;
    --background: var(--ion-color-personal); 
    --color:var(--ion-color-personal-contrast);
    --color-selected:var(--ion-color-personal-contrast);
  }