<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>M4.254 - Desarrollo front-end con framew. JavaScript </ion-card-subtitle>
        <ion-card-title>Pec3 App Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Yaisa Vélaz Camacho</p>
      </ion-card-content>
    </ion-card>

</ion-content>
