.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}



.welcome-card  ion-card-header {
  background-color: white;
  //border-radius: 10px 10px 0px 0px;
}

.welcome-card ion-card-title {
  color: blue;
}

.welcome-card ion-card-content{
  background-color: lightgray;
  color: black;
}